<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Team</title>
</head>
<body>
<h1>Team Home Page</h1>
<h2>Welcome <span th:text="${username}"></span> !</h2>
<dif>
    <a th:href="@{/team/list}">Team List></a>
</dif>
<dif>
    <a th:href="@{/team/add}">Add Team></a>
</dif>

</body>
</html>